:root {
  --headings: #d95e11;
  --background: #f8f6f1;
  --cta: #002F4B;
  --extra: #8EA48B;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
}


/* main sections starts here */

section {
  background: var(--background);
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

/* styled section generally for all sections */

.container1 {
  display: block;
  width: auto;
  height: 100%;
  padding: 80px 120px;
  justify-content: center;
  align-items: center;
  background-image: url('../img/solar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  width: auto;
  height: 100%;
  padding: 60px 0;
  margin: 0 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#f3ede25e;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--cta);
}

.hero-section h1 {
  font-size: 87px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0px;
  color: var(--cta);
  text-shadow: 1px 1px 5px var(--background);
}

.hero-section p {
  font-size: 32px;
  margin: 0;
  padding: 10px 0;
  color: var(--cta);
}

.hero-section button {
  padding: 12px 30px;
  font-size: 24px;
  margin: 30px 0;
  border: 2px solid var(--headings);
  background: var(--headings);
  color: var(--background);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.hero-section button:hover {
  color: var(--cta);
  background: var(--background);
  border: 2px solid var(--background);
  transition: 0.5s ease;
  transform: scaleX(1.1)
}

/* container2 starts here */

.container2 {
  width: auto;
  height: 100%;
  display: block;
  padding: 40px 120px;
  text-align: center;
}

.container2 h2 {
  font-size: 48px;
  margin: 0;
  padding: 10px 0;
  color: var(--cta);
}

.about-holder {
  background: var(--background);
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 40px 0;
  align-items: center;
}

.about-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: var(--cta);
}

.about-content p {
  font-size: 22px;
  line-height: 1.6;
  margin: 0;
  padding: 10px 0;
}

.about-content h3 {
  font-size: 42px;
  line-height: 1;
  margin: 40px 0 0 0;
  padding: 0;
}

.team-work-div {
  width: 100%;
  height: 35em;
  
}

.team-work-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 20px solid #ede4d4;
}

/* container3 starts here */

.container3 {
  width: auto;
  padding: 60px 120px;
  height: 100%;
  display: block;
  background: fixed;
  background-image: url('../img/fixed\ bcg.jpeg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.container3 h2 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--cta);
}

.service-holder {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;
  margin-top: 40px;
  color: var(--cta);
}

.service {
  width: auto;
  height: 100%;
  background: #e3dccf5e;
  padding: 20px;
  margin-top: 0px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px 7px var(--cta);
}

.service h3 {
  font-size: 38px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
}

.service p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 10px 0;
}

.service svg {
  width: 12%;
  color: var(--headings)
}

.service svg:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

#dark {
  color: var(--cta);
}

#special {
  margin: 35px 300px;
  color: var(--cta)
}

/* container4 starts here */

.container4 {
  width: auto;
  height: 100%;
  padding: 60px 120px;
  display: block;
  color: var(--cta);
}

.container4 h2 {
  text-align: center;
  font-size: 48px;
  margin: 0;
  line-height: 1;
}

.why-content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 40px;
  align-items: center;
}

.why-content ul {
  width: auto;
  height: 100%;
  list-style-type: decimal;
}

.why-content ul li::marker {
  font-size: 32px;
  font-weight: bold;
}

.why-content ul li {
  padding: 10px ;
  width: 100%;
  height: 100%;
}

.why-content ul li h4 {
  font-size: 32px;
  line-height: 1;
  margin: 0;
  padding: 10px 0;
}

.why-content ul li p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.why-content img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* container5 starts here */

.container5 {
  width: auto;
  height: 100%;
  padding: 40px 120px;
  display: block;
  color: var(--cta)
}

.container5 h2 {
  font-size: 48px;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
}

.list-holder {
  width: auto;
  height: auto;
  background-image: url('../img/image_with_black_overlay.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 20px;
  box-shadow: 1px 1px 10px var(--cta);
}

.lists {
  width: auto;
  height: 100%;
  display: block;
}

.lists div {
  background: var(--background);
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  height: 100%;
  cursor: default;
}

.lists div h4 {
  font-size: 32px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
}

.lists div p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.lists div svg {
  width: 12%;
  margin: 0;
  padding: 0;
  background: var(--extra);
  border-radius: 10px;
  padding: 5px;
  transition: 0.7s ease;
}

.lists div:hover svg {
  transform: scale(1.1);
  transition: 0.7s ease;
}

/* container6 starts here */

.container6 {
  display: block;
  width: auto;
  height: 100%;
  padding: 40px 200px;
  color: var(--cta)
}

.container6 h2 {
  font-size: 44px;
  margin: 40px 0;
  text-align: center;
  line-height: 1.2;
  padding: 0 80px;
}

.testimonials {
  width: auto;
  height: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  box-shadow: 1px 1px 10px var(--cta);
  border: 2px solid var(--headings);
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.rtol {
  display: flex;
  gap: 50px;
  width: 400%;
  height: 100%;
  align-items: center;
  animation: move-left-to-right 35s linear infinite;
}

.ltor {
  display: flex;
  gap: 50px;
  width: 400%;
  height: 100%;
  align-items: center;
  animation: move-right-to-left 55s linear infinite;
}

.rtol img {
  width: 3%;
  height: 100%;
  position: relative;
}

.ltor img {
  width: 3%;
  height: 100%;
  position: relative;
}

.ltor:hover {
  animation-play-state: paused;
}

.rtol:hover {
  animation-play-state: paused;
}

@keyframes move-left-to-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100vw - 100px));
  }
}

@keyframes move-right-to-left  {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

/* container7 ends here */

.container7 {
  width: auto;
  height: 100%;
  padding: 50px 120px;
  color: var(--cta);
}

.container7 h2{
  font-size: 52px;
  margin: 10px 0;
  line-height: 1;
  text-align: center;
}

.team-holder {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: auto;
  height: 100%;
  gap: 20px;
  margin: 10px 0;
}

.container7 h3 {
  font-size: 32px;
  line-height: 1;
  margin: 30px 10px 10px ;
  padding: 0;
}

.team-holder div {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.team-holder p {
  font-size: 22px;
  line-height: 1.5;
  margin: 5px 0;
  padding: 0;
}

.team-holder span {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  letter-spacing: 1px;
}

.team-holder img {
  width: 100%;
  height: 18em;
  object-fit: cover;
  border-radius: 10px;
  background: #ede4d4;
  padding: 8px;
  transition: 1s ease;
}

.team-holder img:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.container7 button {
  padding: 12px 25px;
  background: var(--headings);
  color: var(--background);
  border: 2px solid var(--headings);
  font-size: 22px;
  margin: 0 0 0 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.container7 button:hover {
  background: var(--background);
  color: var(--cta);
  border: 2px solid var(--cta);
  transition: 0.5s ease;
  transform: scaleX(1.1)
}


/* container8 starts here */
.container8 {
  width: auto;
  height: 100%;
  padding: 40px 120px;
  display: block;
  color: var(--cta);
}

.container8 h2 {
  text-align: center;
  font-size: 42px;
  margin: 40px 0 30px 0;
}

.testimony-card {
  background: #ede4d4;
  padding: 10px 20px;
  border-radius: 15px;
  width: 100%;
  cursor: default;
}

.testimony-card:hover .material-symbols-outlined {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.testimony-card p {
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 5px 0;
}

.testimony-card h6 {
  font-size: 16px;
  margin: 0;
  line-height: 1.3;
  padding: 10px 0;
}

.material-symbols-outlined {
  font-size: 72px;
  transform: rotate(-30deg);
  line-height: 1;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

.testi-holder {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 15px;
}

/* container9 starts here */

.container9 {
  display: flex;
  width: auto;
  height: 100%;
  padding: 80px 120px;
  color: var(--cta);
  gap: 20px;

}

.cta {
  width: 100%;
  height: 100%;
}

.cta h1 {
  font-size: 92px;
  margin: 0;
  line-height: 1;
}

.cta p {
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  line-height: 1.5;
}

.cta-img {
  width: 100%;
  height: 27em;
  transition: 1s ease;
}

.cta-img:hover {
  transform: scale(1.05);
  transition: 1s ease;
}

.cta-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 10px solid #ede4d4;
  object-fit: cover;
  object-position: center;
}

.cta button {
  padding: 12px 20px;
  font-size: 20px;
  background: var(--headings);
  color: var(--background);
  border: 2px solid var(--headings);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}


/* footer starts here */

footer {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--cta);
  color: var(--background);
}

.footer-wrapper {
  width: auto;
  height: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.quicklinks{
  display: block;
  width: auto;
  height: 100%;
}

.quicklinks div {
  display: grid;
  width: auto;
  margin-bottom: 20px;
  background: var(--extra);
  padding: 12px;
  border-radius: 10px;
  height: 100%;
}

.quicklinks2 {
  background: var(--extra);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px;
}

.quicklinks2 a {
  text-decoration: none;
  color: var(--background);
  font-size: 18px;
  line-height: 2;
}

.quicklinks a {
  text-decoration: none;
  color: var(--background);
  font-size: 18px;
  line-height: 2;
}